
LearnableWavelets/playground/wandb/debug-cli.mbh425.log
LearnableWavelets/playground/wandb/debug-internal.log
LearnableWavelets/playground/wandb/debug.log
LearnableWavelets/playground/wandb/latest-run/files/conda-environment.yaml
LearnableWavelets/playground/wandb/latest-run/files/config.yaml
LearnableWavelets/playground/wandb/latest-run/files/media/images/performance_100_a9823c74d59f345d1587.png
LearnableWavelets/playground/wandb/latest-run/files/output.log
LearnableWavelets/playground/wandb/latest-run/files/requirements.txt
LearnableWavelets/playground/wandb/latest-run/files/wandb-metadata.json
LearnableWavelets/playground/wandb/latest-run/files/wandb-summary.json
LearnableWavelets/playground/wandb/latest-run/logs/debug-internal.log
LearnableWavelets/playground/wandb/latest-run/logs/debug.log
LearnableWavelets/playground/wandb/latest-run/run-2ffxovvv.wandb
LearnableWavelets/playground/wandb/run-20221123_203440-3sz93fpi/files/conda-environment.yaml
LearnableWavelets/playground/wandb/run-20221123_203440-3sz93fpi/files/config.yaml
LearnableWavelets/playground/wandb/run-20221123_203440-3sz93fpi/files/output.log
LearnableWavelets/playground/wandb/run-20221123_203440-3sz93fpi/files/requirements.txt
LearnableWavelets/playground/wandb/run-20221123_203440-3sz93fpi/files/wandb-metadata.json
LearnableWavelets/playground/wandb/run-20221123_203440-3sz93fpi/files/wandb-summary.json
LearnableWavelets/playground/wandb/run-20221123_203440-3sz93fpi/logs/debug-internal.log
LearnableWavelets/playground/wandb/run-20221123_203440-3sz93fpi/logs/debug.log
LearnableWavelets/playground/wandb/run-20221123_203440-3sz93fpi/run-3sz93fpi.wandb
LearnableWavelets/playground/wandb/run-20221123_204505-18fbxtsa/files/conda-environment.yaml
LearnableWavelets/playground/wandb/run-20221123_204505-18fbxtsa/files/config.yaml
LearnableWavelets/playground/wandb/run-20221123_204505-18fbxtsa/files/media/images/performance_150_84eeb1ae34a592ba65d5.png
LearnableWavelets/playground/wandb/run-20221123_204505-18fbxtsa/files/output.log
LearnableWavelets/playground/wandb/run-20221123_204505-18fbxtsa/files/requirements.txt
LearnableWavelets/playground/wandb/run-20221123_204505-18fbxtsa/files/wandb-metadata.json
LearnableWavelets/playground/wandb/run-20221123_204505-18fbxtsa/files/wandb-summary.json
LearnableWavelets/playground/wandb/run-20221123_204505-18fbxtsa/logs/debug-internal.log
LearnableWavelets/playground/wandb/run-20221123_204505-18fbxtsa/logs/debug.log
LearnableWavelets/playground/wandb/run-20221123_204505-18fbxtsa/run-18fbxtsa.wandb
LearnableWavelets/playground/wandb/run-20221124_013423-38iwu8x1/files/conda-environment.yaml
LearnableWavelets/playground/wandb/run-20221124_013423-38iwu8x1/files/config.yaml
LearnableWavelets/playground/wandb/run-20221124_013423-38iwu8x1/files/media/images/performance_157_3d5f4c5115cbfd17ba4d.png
LearnableWavelets/playground/wandb/run-20221124_013423-38iwu8x1/files/output.log
LearnableWavelets/playground/wandb/run-20221124_013423-38iwu8x1/files/requirements.txt
LearnableWavelets/playground/wandb/run-20221124_013423-38iwu8x1/files/wandb-metadata.json
LearnableWavelets/playground/wandb/run-20221124_013423-38iwu8x1/files/wandb-summary.json
LearnableWavelets/playground/wandb/run-20221124_013423-38iwu8x1/logs/debug-internal.log
LearnableWavelets/playground/wandb/run-20221124_013423-38iwu8x1/logs/debug.log
LearnableWavelets/playground/wandb/run-20221124_013423-38iwu8x1/run-38iwu8x1.wandb
LearnableWavelets/playground/wandb/run-20221124_013713-2bnmkb99/files/conda-environment.yaml
LearnableWavelets/playground/wandb/run-20221124_013713-2bnmkb99/files/config.yaml
LearnableWavelets/playground/wandb/run-20221124_013713-2bnmkb99/files/output.log
LearnableWavelets/playground/wandb/run-20221124_013713-2bnmkb99/files/requirements.txt
LearnableWavelets/playground/wandb/run-20221124_013713-2bnmkb99/files/wandb-metadata.json
LearnableWavelets/playground/wandb/run-20221124_013713-2bnmkb99/files/wandb-summary.json
LearnableWavelets/playground/wandb/run-20221124_013713-2bnmkb99/logs/debug-internal.log
LearnableWavelets/playground/wandb/run-20221124_013713-2bnmkb99/logs/debug.log
LearnableWavelets/playground/wandb/run-20221124_013713-2bnmkb99/run-2bnmkb99.wandb
LearnableWavelets/playground/wandb/run-20221124_013759-8g9qvxbw/files/conda-environment.yaml
LearnableWavelets/playground/wandb/run-20221124_013759-8g9qvxbw/files/config.yaml
LearnableWavelets/playground/wandb/run-20221124_013759-8g9qvxbw/files/output.log
LearnableWavelets/playground/wandb/run-20221124_013759-8g9qvxbw/files/requirements.txt
LearnableWavelets/playground/wandb/run-20221124_013759-8g9qvxbw/files/wandb-metadata.json
LearnableWavelets/playground/wandb/run-20221124_013759-8g9qvxbw/files/wandb-summary.json
LearnableWavelets/playground/wandb/run-20221124_013759-8g9qvxbw/logs/debug-internal.log
LearnableWavelets/playground/wandb/run-20221124_013759-8g9qvxbw/logs/debug.log
LearnableWavelets/playground/wandb/run-20221124_013759-8g9qvxbw/run-8g9qvxbw.wandb
LearnableWavelets/playground/wandb/run-20221124_013921-mho09l17/files/conda-environment.yaml
LearnableWavelets/playground/wandb/run-20221124_013921-mho09l17/files/config.yaml
LearnableWavelets/playground/wandb/run-20221124_013921-mho09l17/files/output.log
LearnableWavelets/playground/wandb/run-20221124_013921-mho09l17/files/requirements.txt
LearnableWavelets/playground/wandb/run-20221124_013921-mho09l17/files/wandb-metadata.json
LearnableWavelets/playground/wandb/run-20221124_013921-mho09l17/files/wandb-summary.json
LearnableWavelets/playground/wandb/run-20221124_013921-mho09l17/logs/debug-internal.log
LearnableWavelets/playground/wandb/run-20221124_013921-mho09l17/logs/debug.log
LearnableWavelets/playground/wandb/run-20221124_013921-mho09l17/run-mho09l17.wandb
LearnableWavelets/playground/wandb/run-20221124_045015-3nbie394/files/conda-environment.yaml
LearnableWavelets/playground/wandb/run-20221124_045015-3nbie394/files/config.yaml
LearnableWavelets/playground/wandb/run-20221124_045015-3nbie394/files/output.log
LearnableWavelets/playground/wandb/run-20221124_045015-3nbie394/files/requirements.txt
LearnableWavelets/playground/wandb/run-20221124_045015-3nbie394/files/wandb-metadata.json
LearnableWavelets/playground/wandb/run-20221124_045015-3nbie394/files/wandb-summary.json
LearnableWavelets/playground/wandb/run-20221124_045015-3nbie394/logs/debug-internal.log
LearnableWavelets/playground/wandb/run-20221124_045015-3nbie394/logs/debug.log
LearnableWavelets/playground/wandb/run-20221124_045015-3nbie394/run-3nbie394.wandb
LearnableWavelets/playground/wandb/run-20221124_045109-24t2vvdd/files/conda-environment.yaml
LearnableWavelets/playground/wandb/run-20221124_045109-24t2vvdd/files/config.yaml
LearnableWavelets/playground/wandb/run-20221124_045109-24t2vvdd/files/media/images/performance_150_d80895d9a19093bf0c8d.png
LearnableWavelets/playground/wandb/run-20221124_045109-24t2vvdd/files/output.log
LearnableWavelets/playground/wandb/run-20221124_045109-24t2vvdd/files/requirements.txt
LearnableWavelets/playground/wandb/run-20221124_045109-24t2vvdd/files/wandb-metadata.json
LearnableWavelets/playground/wandb/run-20221124_045109-24t2vvdd/files/wandb-summary.json
LearnableWavelets/playground/wandb/run-20221124_045109-24t2vvdd/logs/debug-internal.log
LearnableWavelets/playground/wandb/run-20221124_045109-24t2vvdd/logs/debug.log
LearnableWavelets/playground/wandb/run-20221124_045109-24t2vvdd/run-24t2vvdd.wandb
LearnableWavelets/playground/wandb/run-20221124_045227-19ocu806/files/conda-environment.yaml
LearnableWavelets/playground/wandb/run-20221124_045227-19ocu806/files/config.yaml
LearnableWavelets/playground/wandb/run-20221124_045227-19ocu806/files/output.log
LearnableWavelets/playground/wandb/run-20221124_045227-19ocu806/files/requirements.txt
LearnableWavelets/playground/wandb/run-20221124_045227-19ocu806/files/wandb-metadata.json
LearnableWavelets/playground/wandb/run-20221124_045227-19ocu806/files/wandb-summary.json
LearnableWavelets/playground/wandb/run-20221124_045227-19ocu806/logs/debug-internal.log
LearnableWavelets/playground/wandb/run-20221124_045227-19ocu806/logs/debug.log
LearnableWavelets/playground/wandb/run-20221124_045227-19ocu806/run-19ocu806.wandb
LearnableWavelets/playground/wandb/run-20221124_045401-2yaat23w/files/conda-environment.yaml
LearnableWavelets/playground/wandb/run-20221124_045401-2yaat23w/files/config.yaml
LearnableWavelets/playground/wandb/run-20221124_045401-2yaat23w/files/output.log
LearnableWavelets/playground/wandb/run-20221124_045401-2yaat23w/files/requirements.txt
LearnableWavelets/playground/wandb/run-20221124_045401-2yaat23w/files/wandb-metadata.json
LearnableWavelets/playground/wandb/run-20221124_045401-2yaat23w/files/wandb-summary.json
LearnableWavelets/playground/wandb/run-20221124_045401-2yaat23w/logs/debug-internal.log
LearnableWavelets/playground/wandb/run-20221124_045401-2yaat23w/logs/debug.log
LearnableWavelets/playground/wandb/run-20221124_045401-2yaat23w/run-2yaat23w.wandb
LearnableWavelets/playground/wandb/run-20221124_050029-1b0bnlt1/files/conda-environment.yaml
LearnableWavelets/playground/wandb/run-20221124_050029-1b0bnlt1/files/config.yaml
LearnableWavelets/playground/wandb/run-20221124_050029-1b0bnlt1/files/output.log
LearnableWavelets/playground/wandb/run-20221124_050029-1b0bnlt1/files/requirements.txt
LearnableWavelets/playground/wandb/run-20221124_050029-1b0bnlt1/files/wandb-metadata.json
LearnableWavelets/playground/wandb/run-20221124_050029-1b0bnlt1/files/wandb-summary.json
LearnableWavelets/playground/wandb/run-20221124_050029-1b0bnlt1/logs/debug-internal.log
LearnableWavelets/playground/wandb/run-20221124_050029-1b0bnlt1/logs/debug.log
LearnableWavelets/playground/wandb/run-20221124_050029-1b0bnlt1/run-1b0bnlt1.wandb
LearnableWavelets/playground/wandb/run-20221124_050236-2l8qimkp/files/conda-environment.yaml
LearnableWavelets/playground/wandb/run-20221124_050236-2l8qimkp/files/config.yaml
LearnableWavelets/playground/wandb/run-20221124_050236-2l8qimkp/files/output.log
LearnableWavelets/playground/wandb/run-20221124_050236-2l8qimkp/files/requirements.txt
LearnableWavelets/playground/wandb/run-20221124_050236-2l8qimkp/files/wandb-metadata.json
LearnableWavelets/playground/wandb/run-20221124_050236-2l8qimkp/files/wandb-summary.json
LearnableWavelets/playground/wandb/run-20221124_050236-2l8qimkp/logs/debug-internal.log
LearnableWavelets/playground/wandb/run-20221124_050236-2l8qimkp/logs/debug.log
LearnableWavelets/playground/wandb/run-20221124_050236-2l8qimkp/run-2l8qimkp.wandb
LearnableWavelets/playground/wandb/run-20221125_191344-rs3kns1v/files/conda-environment.yaml
LearnableWavelets/playground/wandb/run-20221125_191344-rs3kns1v/files/config.yaml
LearnableWavelets/playground/wandb/run-20221125_191344-rs3kns1v/files/output.log
LearnableWavelets/playground/wandb/run-20221125_191344-rs3kns1v/files/requirements.txt
LearnableWavelets/playground/wandb/run-20221125_191344-rs3kns1v/files/wandb-metadata.json
LearnableWavelets/playground/wandb/run-20221125_191344-rs3kns1v/files/wandb-summary.json
LearnableWavelets/playground/wandb/run-20221125_191344-rs3kns1v/logs/debug-internal.log
LearnableWavelets/playground/wandb/run-20221125_191344-rs3kns1v/logs/debug.log
LearnableWavelets/playground/wandb/run-20221125_191344-rs3kns1v/run-rs3kns1v.wandb
LearnableWavelets/playground/wandb/run-20221125_192300-1pfr9fpy/files/conda-environment.yaml
LearnableWavelets/playground/wandb/run-20221125_192300-1pfr9fpy/files/config.yaml
LearnableWavelets/playground/wandb/run-20221125_192300-1pfr9fpy/files/output.log
LearnableWavelets/playground/wandb/run-20221125_192300-1pfr9fpy/files/requirements.txt
LearnableWavelets/playground/wandb/run-20221125_192300-1pfr9fpy/files/wandb-metadata.json
LearnableWavelets/playground/wandb/run-20221125_192300-1pfr9fpy/files/wandb-summary.json
LearnableWavelets/playground/wandb/run-20221125_192300-1pfr9fpy/logs/debug-internal.log
LearnableWavelets/playground/wandb/run-20221125_192300-1pfr9fpy/logs/debug.log
LearnableWavelets/playground/wandb/run-20221125_192300-1pfr9fpy/run-1pfr9fpy.wandb
LearnableWavelets/playground/wandb/run-20221126_131513-3q50yndh/files/conda-environment.yaml
LearnableWavelets/playground/wandb/run-20221126_131513-3q50yndh/files/config.yaml
LearnableWavelets/playground/wandb/run-20221126_131513-3q50yndh/files/output.log
LearnableWavelets/playground/wandb/run-20221126_131513-3q50yndh/files/requirements.txt
LearnableWavelets/playground/wandb/run-20221126_131513-3q50yndh/files/wandb-metadata.json
LearnableWavelets/playground/wandb/run-20221126_131513-3q50yndh/files/wandb-summary.json
LearnableWavelets/playground/wandb/run-20221126_131513-3q50yndh/logs/debug-internal.log
LearnableWavelets/playground/wandb/run-20221126_131513-3q50yndh/logs/debug.log
LearnableWavelets/playground/wandb/run-20221126_131513-3q50yndh/run-3q50yndh.wandb
LearnableWavelets/playground/wandb/run-20221126_151756-hf9zmlr8/files/conda-environment.yaml
LearnableWavelets/playground/wandb/run-20221126_151756-hf9zmlr8/files/config.yaml
LearnableWavelets/playground/wandb/run-20221126_151756-hf9zmlr8/files/media/images/performance_150_e07d2ccc88f1b657bfb6.png
LearnableWavelets/playground/wandb/run-20221126_151756-hf9zmlr8/files/output.log
LearnableWavelets/playground/wandb/run-20221126_151756-hf9zmlr8/files/requirements.txt
LearnableWavelets/playground/wandb/run-20221126_151756-hf9zmlr8/files/wandb-metadata.json
LearnableWavelets/playground/wandb/run-20221126_151756-hf9zmlr8/files/wandb-summary.json
LearnableWavelets/playground/wandb/run-20221126_151756-hf9zmlr8/logs/debug-internal.log
LearnableWavelets/playground/wandb/run-20221126_151756-hf9zmlr8/logs/debug.log
LearnableWavelets/playground/wandb/run-20221126_151756-hf9zmlr8/run-hf9zmlr8.wandb
LearnableWavelets/playground/wandb/run-20221127_070433-bo6ujg2b/files/conda-environment.yaml
LearnableWavelets/playground/wandb/run-20221127_070433-bo6ujg2b/files/config.yaml
LearnableWavelets/playground/wandb/run-20221127_070433-bo6ujg2b/files/media/images/performance_150_2d492ff08560d4f881b0.png
LearnableWavelets/playground/wandb/run-20221127_070433-bo6ujg2b/files/output.log
LearnableWavelets/playground/wandb/run-20221127_070433-bo6ujg2b/files/requirements.txt
LearnableWavelets/playground/wandb/run-20221127_070433-bo6ujg2b/files/wandb-metadata.json
LearnableWavelets/playground/wandb/run-20221127_070433-bo6ujg2b/files/wandb-summary.json
LearnableWavelets/playground/wandb/run-20221127_070433-bo6ujg2b/logs/debug-internal.log
LearnableWavelets/playground/wandb/run-20221127_070433-bo6ujg2b/logs/debug.log
LearnableWavelets/playground/wandb/run-20221127_070433-bo6ujg2b/run-bo6ujg2b.wandb
LearnableWavelets/playground/wandb/run-20221127_072130-2nzvnvzy/files/conda-environment.yaml
LearnableWavelets/playground/wandb/run-20221127_072130-2nzvnvzy/files/config.yaml
LearnableWavelets/playground/wandb/run-20221127_072130-2nzvnvzy/files/output.log
LearnableWavelets/playground/wandb/run-20221127_072130-2nzvnvzy/files/requirements.txt
LearnableWavelets/playground/wandb/run-20221127_072130-2nzvnvzy/files/wandb-metadata.json
LearnableWavelets/playground/wandb/run-20221127_072130-2nzvnvzy/files/wandb-summary.json
LearnableWavelets/playground/wandb/run-20221127_072130-2nzvnvzy/logs/debug-internal.log
LearnableWavelets/playground/wandb/run-20221127_072130-2nzvnvzy/logs/debug.log
LearnableWavelets/playground/wandb/run-20221127_072130-2nzvnvzy/run-2nzvnvzy.wandb
LearnableWavelets/playground/wandb/run-20221209_134246-1vc47dge/files/conda-environment.yaml
LearnableWavelets/playground/wandb/run-20221209_134246-1vc47dge/files/config.yaml
LearnableWavelets/playground/wandb/run-20221209_134246-1vc47dge/files/output.log
LearnableWavelets/playground/wandb/run-20221209_134246-1vc47dge/files/requirements.txt
LearnableWavelets/playground/wandb/run-20221209_134246-1vc47dge/files/wandb-metadata.json
LearnableWavelets/playground/wandb/run-20221209_134246-1vc47dge/files/wandb-summary.json
LearnableWavelets/playground/wandb/run-20221209_134246-1vc47dge/logs/debug-internal.log
LearnableWavelets/playground/wandb/run-20221209_134246-1vc47dge/logs/debug.log
LearnableWavelets/playground/wandb/run-20221209_134246-1vc47dge/run-1vc47dge.wandb
LearnableWavelets/playground/wandb/run-20221209_160343-wmhdfnzh/files/conda-environment.yaml
LearnableWavelets/playground/wandb/run-20221209_160343-wmhdfnzh/files/config.yaml
LearnableWavelets/playground/wandb/run-20221209_160343-wmhdfnzh/files/output.log
LearnableWavelets/playground/wandb/run-20221209_160343-wmhdfnzh/files/requirements.txt
LearnableWavelets/playground/wandb/run-20221209_160343-wmhdfnzh/files/wandb-metadata.json
LearnableWavelets/playground/wandb/run-20221209_160343-wmhdfnzh/files/wandb-summary.json
LearnableWavelets/playground/wandb/run-20221209_160343-wmhdfnzh/logs/debug-internal.log
LearnableWavelets/playground/wandb/run-20221209_160343-wmhdfnzh/logs/debug.log
LearnableWavelets/playground/wandb/run-20221209_160343-wmhdfnzh/run-wmhdfnzh.wandb
LearnableWavelets/playground/wandb/run-20221209_161121-3lkx5g1r/files/conda-environment.yaml
LearnableWavelets/playground/wandb/run-20221209_161121-3lkx5g1r/files/config.yaml
LearnableWavelets/playground/wandb/run-20221209_161121-3lkx5g1r/files/output.log
LearnableWavelets/playground/wandb/run-20221209_161121-3lkx5g1r/files/requirements.txt
LearnableWavelets/playground/wandb/run-20221209_161121-3lkx5g1r/files/wandb-metadata.json
LearnableWavelets/playground/wandb/run-20221209_161121-3lkx5g1r/files/wandb-summary.json
LearnableWavelets/playground/wandb/run-20221209_161121-3lkx5g1r/logs/debug-internal.log
LearnableWavelets/playground/wandb/run-20221209_161121-3lkx5g1r/logs/debug.log
LearnableWavelets/playground/wandb/run-20221209_161121-3lkx5g1r/run-3lkx5g1r.wandb
LearnableWavelets/playground/wandb/run-20221209_163428-2fqpp3ys/files/conda-environment.yaml
LearnableWavelets/playground/wandb/run-20221209_163428-2fqpp3ys/files/config.yaml
LearnableWavelets/playground/wandb/run-20221209_163428-2fqpp3ys/files/output.log
LearnableWavelets/playground/wandb/run-20221209_163428-2fqpp3ys/files/requirements.txt
LearnableWavelets/playground/wandb/run-20221209_163428-2fqpp3ys/files/wandb-metadata.json
LearnableWavelets/playground/wandb/run-20221209_163428-2fqpp3ys/files/wandb-summary.json
LearnableWavelets/playground/wandb/run-20221209_163428-2fqpp3ys/logs/debug-internal.log
LearnableWavelets/playground/wandb/run-20221209_163428-2fqpp3ys/logs/debug.log
LearnableWavelets/playground/wandb/run-20221209_163428-2fqpp3ys/run-2fqpp3ys.wandb
LearnableWavelets/playground/wandb/run-20221209_163539-gb7q34kw/files/conda-environment.yaml
LearnableWavelets/playground/wandb/run-20221209_163539-gb7q34kw/files/config.yaml
LearnableWavelets/playground/wandb/run-20221209_163539-gb7q34kw/files/output.log
LearnableWavelets/playground/wandb/run-20221209_163539-gb7q34kw/files/requirements.txt
LearnableWavelets/playground/wandb/run-20221209_163539-gb7q34kw/files/wandb-metadata.json
LearnableWavelets/playground/wandb/run-20221209_163539-gb7q34kw/files/wandb-summary.json
LearnableWavelets/playground/wandb/run-20221209_163539-gb7q34kw/logs/debug-internal.log
LearnableWavelets/playground/wandb/run-20221209_163539-gb7q34kw/logs/debug.log
LearnableWavelets/playground/wandb/run-20221209_163539-gb7q34kw/run-gb7q34kw.wandb
LearnableWavelets/playground/wandb/run-20221209_171845-36b26y95/files/conda-environment.yaml
LearnableWavelets/playground/wandb/run-20221209_171845-36b26y95/files/config.yaml
LearnableWavelets/playground/wandb/run-20221209_171845-36b26y95/files/output.log
LearnableWavelets/playground/wandb/run-20221209_171845-36b26y95/files/requirements.txt
LearnableWavelets/playground/wandb/run-20221209_171845-36b26y95/files/wandb-metadata.json
LearnableWavelets/playground/wandb/run-20221209_171845-36b26y95/files/wandb-summary.json
LearnableWavelets/playground/wandb/run-20221209_171845-36b26y95/logs/debug-internal.log
LearnableWavelets/playground/wandb/run-20221209_171845-36b26y95/logs/debug.log
LearnableWavelets/playground/wandb/run-20221209_171845-36b26y95/run-36b26y95.wandb
LearnableWavelets/playground/wandb/run-20221209_173243-wii3j3w5/files/conda-environment.yaml
LearnableWavelets/playground/wandb/run-20221209_173243-wii3j3w5/files/config.yaml
LearnableWavelets/playground/wandb/run-20221209_173243-wii3j3w5/files/media/images/performance_150_6c012b4eba4a5960b35c.png
LearnableWavelets/playground/wandb/run-20221209_173243-wii3j3w5/files/output.log
LearnableWavelets/playground/wandb/run-20221209_173243-wii3j3w5/files/requirements.txt
LearnableWavelets/playground/wandb/run-20221209_173243-wii3j3w5/files/wandb-metadata.json
LearnableWavelets/playground/wandb/run-20221209_173243-wii3j3w5/files/wandb-summary.json
LearnableWavelets/playground/wandb/run-20221209_173243-wii3j3w5/logs/debug-internal.log
LearnableWavelets/playground/wandb/run-20221209_173243-wii3j3w5/logs/debug.log
LearnableWavelets/playground/wandb/run-20221209_173243-wii3j3w5/run-wii3j3w5.wandb
LearnableWavelets/playground/wandb/run-20221209_173257-3kfbx7js/files/conda-environment.yaml
LearnableWavelets/playground/wandb/run-20221209_173257-3kfbx7js/files/config.yaml
LearnableWavelets/playground/wandb/run-20221209_173257-3kfbx7js/files/output.log
LearnableWavelets/playground/wandb/run-20221209_173257-3kfbx7js/files/requirements.txt
LearnableWavelets/playground/wandb/run-20221209_173257-3kfbx7js/files/wandb-metadata.json
LearnableWavelets/playground/wandb/run-20221209_173257-3kfbx7js/files/wandb-summary.json
LearnableWavelets/playground/wandb/run-20221209_173257-3kfbx7js/logs/debug-internal.log
LearnableWavelets/playground/wandb/run-20221209_173257-3kfbx7js/logs/debug.log
LearnableWavelets/playground/wandb/run-20221209_173257-3kfbx7js/run-3kfbx7js.wandb
LearnableWavelets/playground/wandb/run-20221210_031926-223n4wta/files/conda-environment.yaml
LearnableWavelets/playground/wandb/run-20221210_031926-223n4wta/files/config.yaml
LearnableWavelets/playground/wandb/run-20221210_031926-223n4wta/files/output.log
LearnableWavelets/playground/wandb/run-20221210_031926-223n4wta/files/requirements.txt
LearnableWavelets/playground/wandb/run-20221210_031926-223n4wta/files/wandb-metadata.json
LearnableWavelets/playground/wandb/run-20221210_031926-223n4wta/files/wandb-summary.json
LearnableWavelets/playground/wandb/run-20221210_031926-223n4wta/logs/debug-internal.log
LearnableWavelets/playground/wandb/run-20221210_031926-223n4wta/logs/debug.log
LearnableWavelets/playground/wandb/run-20221210_031926-223n4wta/run-223n4wta.wandb
LearnableWavelets/playground/wandb/run-20221210_032407-9ya8kdfv/files/conda-environment.yaml
LearnableWavelets/playground/wandb/run-20221210_032407-9ya8kdfv/files/config.yaml
LearnableWavelets/playground/wandb/run-20221210_032407-9ya8kdfv/files/output.log
LearnableWavelets/playground/wandb/run-20221210_032407-9ya8kdfv/files/requirements.txt
LearnableWavelets/playground/wandb/run-20221210_032407-9ya8kdfv/files/wandb-metadata.json
LearnableWavelets/playground/wandb/run-20221210_032407-9ya8kdfv/files/wandb-summary.json
LearnableWavelets/playground/wandb/run-20221210_032407-9ya8kdfv/logs/debug-internal.log
LearnableWavelets/playground/wandb/run-20221210_032407-9ya8kdfv/logs/debug.log
LearnableWavelets/playground/wandb/run-20221210_032407-9ya8kdfv/run-9ya8kdfv.wandb
LearnableWavelets/playground/wandb/run-20221210_032805-2ffxovvv/files/conda-environment.yaml
LearnableWavelets/playground/wandb/run-20221210_032805-2ffxovvv/files/config.yaml
LearnableWavelets/playground/wandb/run-20221210_032805-2ffxovvv/files/media/images/performance_100_a9823c74d59f345d1587.png
LearnableWavelets/playground/wandb/run-20221210_032805-2ffxovvv/files/output.log
LearnableWavelets/playground/wandb/run-20221210_032805-2ffxovvv/files/requirements.txt
LearnableWavelets/playground/wandb/run-20221210_032805-2ffxovvv/files/wandb-metadata.json
LearnableWavelets/playground/wandb/run-20221210_032805-2ffxovvv/files/wandb-summary.json
LearnableWavelets/playground/wandb/run-20221210_032805-2ffxovvv/logs/debug-internal.log
LearnableWavelets/playground/wandb/run-20221210_032805-2ffxovvv/logs/debug.log
LearnableWavelets/playground/wandb/run-20221210_032805-2ffxovvv/run-2ffxovvv.wandb
